<launch>

    <include file="$(find coord_translator)/launch/coord_translator.launch" />
    <include file="$(find tts_mock)/launch/tts_mock.launch" /> 
    <include file="$(find object_recognition_mock)/launch/object_recognition_mock.launch" />
    <include file="$(find arm_navigation_mock)/launch/arm_navigation_mock.launch" />
    <include file="$(find close_hand_mock)/launch/close_hand_mock.launch" />

    <node pkg ="get_category_and_grasp_test"
        type="get_cat_and_grasp.py"
        name="get_cat_and_grasp_test"
        output="screen">
    </node>

</launch>
