<launch>

	<include file="$(find coord_translator)/launch/coord_translator.launch" />
  	<include file="$(find person_detector_mock)/launch/person_detector_mock.launch" />
  	<include file="$(find move_base_mock)/launch/move_base_mock.launch" />

	<!-- Emergency Situation SubSM Test SMACH -->
	<node pkg ="emergency_situation_subsm_tests"
        type="find_a_person.py"
        name="emergency_situation_subsm_tests"
        output="screen">
 	</node>

</launch>