<?xml version="1.0"?>
<launch>

  <!-- required system nodes -->
 <!-- <include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" />-->
  <include file="$(find tts_mock)/launch/tts_mock.launch" />
  
  <!-- Restaurant SMACH -->
  <node pkg ="set_up_test"
        type="init_set_up_test.py"
        name="sm_init_set_up_test"
        output="screen">
  </node>

</launch>