  <launch>

    <include file="$(find next_location_provider)/launch/next_location_provider_service.launch" />
    <!--<include file="$(find object_recognition_mock)/launch/object_recognition_mock.launch"/>-->

    <node pkg ="object_finding_behaviour_tests"
        type="ofb_first_approach_test.py"
        name="ofb_first_approach_test"
        output="screen">
    </node>

</launch>
