<launch>
  
  <!-- Fake Servers -->
  <!-- <include file="$(find back_camera_server_mock)/launch/back_camera_server_mock.launch" /> -->
  <include file="$(find coord_translator)/launch/coord_translator.launch" />
  <include file="$(find move_base_mock)/launch/move_base_mock.launch" />
  <include file="$(find tts_mock)/launch/tts_mock.launch" />

  <!-- EmergencySituation SMACH -->
  <node pkg ="emergency_situation"
        type="test_go_to_exit_and_follow_checker.py"
        name="test_go_to_exit_and_follow_checker"
        output="screen">
  </node>

</launch>

