<?xml version="1.0"?>
<launch>

  <!-- load the Parameters configuration file -->
  <rosparam file="$(find follow_me)/config/params_follow_me.yaml"
	    command="load" ns="params_follow_me" />

  <!-- load the configuration file -->
  <rosparam file="$(find restaurant)/config/restaurant.yaml"
      command="load" ns="restaurant" />

  <!-- load the mock configuration file -->
  <rosparam file="$(find restaurant)/config/simulation.yaml"
      command="load" ns="mock_config" />

  <!-- required system nodes -->
 <!-- <include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" />-->
  <include file="$(find tts_mock)/launch/tts_mock.launch" />

  <!-- required system nodes -->
  <include file="$(find coord_translator)/launch/coord_translator.launch" />
  <include file="$(find poi_current_position_sm_mock)/launch/lookupTransform_mock.launch" />
  <!--<include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" />-->
  
  <!-- Restaurant SMACH -->
  <node pkg ="listen_poi_and_memorise_test"
        type="listen_poi_and_memorise_test.py"
        name="sm_listen_poi_and_memorise_test"
        output="screen">
  </node>

</launch>