<?xml version="1.0"?>

<launch>
    <!-- load the configuration file -->
    <rosparam file="$(find follow_me)/config/params_follow_me.yaml"
      command="load" ns="params_follow_me" />

    <rosparam file="$(find common)/config/params_navigation.yaml"
        command="load"
        ns="params_navigation" />

    <!-- follow_operator_test SMACH -->
    <node pkg="follow_any_person_test"
        type="follow_any_person_test.py"
        name="sm_follow_any_person_test"
        output="screen">
    </node>


    <node pkg="common"
        type="navigation_reconfigure_server.py"
        name="common_navigation"
        output="screen">
    </node>

</launch>