<?xml version="1.0"?>

<launch>

  <!--Play Sound Node Launch-->
  <include file="$(find sound_play)/soundplay_node.launch" />
  <!-- Dancing_reem_sm_test SMACH -->
  <node pkg="play_sound_test"
        type="play_sound_sm_test.py"
        name="play_sound_sm_test"
        output="screen">
  </node>

</launch>
