<?xml version="1.0"?>

<launch>
	<!-- load the Parameters configuration file -->
	<rosparam file="$(find follow_me)/config/params_follow_me.yaml"
	command="load" ns="params_follow_me" />


	<!-- fake action server nodes -->
	<include file="$(find tts_mock)/launch/tts_mock.launch" /> 
	<include file="$(find face_recognition_mock)/launch/face_recognition_mock.launch" />
	<include file="$(find person_detector_mock)/launch/person_detector_mock.launch" /> 
	<include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" /> 
	<!--<include file="$(find door_detector_pal)/launch/door_detector_pal.launch" />--> 
		
	<include file="$(find move_base_mock)/launch/move_base_mock.launch"/> 
	
	<!-- Follow Me SMACH -->
  	<node pkg ="follow_me"
        type="follow_me.py"
        name="follow_me"
        output="screen">
  	</node>


</launch>
