<launch>
    <!-- REMEMBER TO DO $ export USE_RGBD_SENSOR=true -->

    <include file="$(find reem_tabletop_manipulation_launch)/launch/tabletop_perception.launch" >
        <arg name="sim" value="false" />
        <arg name="use_snapshotter" value="true" />
    </include>
    
    <include file="$(find reem_tabletop_manipulation_launch)/launch/rviz.launch" />


    <node pkg ="detect_table_test"
        type="detect_table_test_head_scan.py"
        name="detect_table_test"
        output="screen">
    </node>

</launch>