<launch>

  <!-- load the configuration file -->
  <rosparam file="$(find cocktail_party)/config/cocktail_party.yaml" command="load" ns="cocktail_party" />

  <!-- load the mock configuration file -->
  <rosparam file="$(find cocktail_party)/config/simulation.yaml" command="load" ns="mock_config" />

  <!--
  <include file="$(find face_recognition_mock)/launch/face_recognition_mock.launch" />
  <include file="$(find tts_mock)/launch/tts_mock.launch" /> 
  <include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" />
  <include file="$(find move_base_mock)/launch/move_base_mock.launch" />
  <include file="$(find person_detector_mock)/launch/person_detector_mock.launch" />
  <include file="$(find coord_translator)/launch/coord_translator.launch" />
  <include file="$(find upperbody_mock)/launch/upperbody_mock.launch" />
  <include file="$(find gesture_recognition_mock)/launch/gesture_recognition_mock.launch" />
  -->
  
  <!-- Cocktail SMACH -->
  <node pkg ="cocktail_party"
        type="test_take_drink_orders.py"
        name="test_take_drink_orders"
        output="screen">
  </node>

</launch>
