<launch>

  <!-- load the configuration file -->
  <rosparam file="$(find cocktail_party)/config/cocktail_party.yaml" command="load" ns="cocktail_party" />
  
  <!--
  <include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" />
  <include file="$(find face_recognition_mock)/launch/face_recognition_mock.launch" /> 
  <include file="$(find tts_mock)/launch/tts_mock.launch" /> 
  -->
  

  <!-- Cocktail SMACH -->
  <node pkg ="cocktail_party"
        type="test_learn_person.py"
        name="test_learn_person"
        output="screen">
  </node>

</launch>
