<launch>

  <!-- load the configuration file -->
  <rosparam file="$(find cocktail_party)/config/cocktail_party.yaml" command="load" ns="cocktail_party" />

  <!-- load the mock configuration file -->
  <rosparam file="$(find cocktail_party)/config/simulation.yaml" command="load" ns="mock_config" />

  <!--
  <include file="$(find tts_mock)/launch/tts_mock.launch" /> 
  <include file="$(find speech_recognition_mock)/launch/speech_recognition_mock.launch" />
  -->
  
  <!-- Cocktail SMACH -->
  <node pkg ="cocktail_party"
        type="test_usersaid_take_order.py"
        name="test_usersaid_take_order"
        output="screen">
  </node>

</launch>
