<launch>
 
  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />
  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find robocup_worlds)/worlds/robocup_house_simple.world" respawn="false" /> 

  <!-- putting urdf file -->		
  <param name="robocup_house" textfile="$(find robocup_worlds)/objects/robocup_house.urdf" />
  <node name="spawn_robocup_house" pkg="gazebo" type="spawn_model" args="-urdf -param robocup_house -model robocup_house -x 1 -y 1 -z 0 " respawn="false"/>

<!-- putting urdf file -->		
  <param name="sofa" textfile="$(find robocup_worlds)/objects/sofa.urdf" />
  <node name="spawn_sofa" pkg="gazebo" type="spawn_model" args="-urdf -param sofa -model sofa -x 7.4 -y 11.7 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="stool" textfile="$(find robocup_worlds)/objects/stool.urdf" />
  <node name="spawn_stool" pkg="gazebo" type="spawn_model" args="-urdf -param stool -model stool -x 6.0 -y 6.7 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="sideboard" textfile="$(find robocup_worlds)/objects/sideboard.urdf" />
  <node name="spawn_sideboard" pkg="gazebo" type="spawn_model" args="-urdf -param sideboard -model sideboard -x 7.6 -y 6.7 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="wardrobe" textfile="$(find robocup_worlds)/objects/wardrobe.urdf" />
  <node name="spawn_wardrobe" pkg="gazebo" type="spawn_model" args="-urdf -param wardrobe -model wardrobe -x 4.5 -y 4.1 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="bed" textfile="$(find robocup_worlds)/objects/bed.urdf" />
  <node name="spawn_bed" pkg="gazebo" type="spawn_model" args="-urdf -param bed -model bed -x 6.7 -y 1.1 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="bench" textfile="$(find robocup_worlds)/objects/bench.urdf" />
  <node name="spawn_bench" pkg="gazebo" type="spawn_model" args="-urdf -param bench -model bench -x 1.05 -y 5.0 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="sideboard2" textfile="$(find robocup_worlds)/objects/sideboard2.urdf" />
  <node name="spawn_sideboard2" pkg="gazebo" type="spawn_model" args="-urdf -param sideboard2 -model sideboard2 -x 6.75 -y 1.55 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="sideboard3" textfile="$(find robocup_worlds)/objects/sideboard3.urdf" />
  <node name="spawn_sideboard3" pkg="gazebo" type="spawn_model" args="-urdf -param sideboard3 -model sideboard3 -x 5.6 -y 10 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="kitchen_chair" textfile="$(find robocup_worlds)/objects/kitchen_chair.urdf" />
  <node name="spawn_kitchen_chair" pkg="gazebo" type="spawn_model" args="-urdf -param kitchen_chair -model kitchen_chair -x 5.8 -y 9.3 -z 0 -R 0 -P 0 -Y 1.5708" respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="closet" textfile="$(find robocup_worlds)/objects/closet.urdf" />
  <node name="spawn_closet" pkg="gazebo" type="spawn_model" args="-urdf -param closet -model closet -x 8.0 -y 3.5 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="closet" textfile="$(find robocup_worlds)/objects/closet.urdf" />
  <node name="spawn_closet2" pkg="gazebo" type="spawn_model" args="-urdf -param closet -model closet2 -x 4.1 -y 7.7 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="dining_chair" textfile="$(find robocup_worlds)/objects/dining_chair.urdf" />
  <node name="spawn_dining_chair" pkg="gazebo" type="spawn_model" args="-urdf -param dining_chair -model dining_chair -x 2 -y 10.2 -z 0 " respawn="false" output="screen" />  

<!-- putting urdf file -->		
  <param name="dining_chair2" textfile="$(find robocup_worlds)/objects/dining_chair2.urdf" />
  <node name="spawn_dining_chair21" pkg="gazebo" type="spawn_model" args="-urdf -param dining_chair2 -model dining_chair21 -x 1.5 -y 11.2 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="dining_chair2" textfile="$(find robocup_worlds)/objects/dining_chair2.urdf" />
  <node name="spawn_dining_chair22" pkg="gazebo" type="spawn_model" args="-urdf -param dining_chair2 -model dining_chair22 -x 1.5 -y 11.8 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="dining_chair2" textfile="$(find robocup_worlds)/objects/dining_chair2.urdf" />
  <node name="spawn_dining_chair23" pkg="gazebo" type="spawn_model" args="-urdf -param dining_chair2 -model dining_chair23 -x 1.5 -y 12.4 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="dining_chair3" textfile="$(find robocup_worlds)/objects/dining_chair3.urdf" />
  <node name="spawn_dining_chair3" pkg="gazebo" type="spawn_model" args="-urdf -param dining_chair3 -model dining_chair3 -x 2.4 -y 12.8 -z 0 " respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="kitchen" textfile="$(find robocup_worlds)/objects/kitchen.urdf" />
  <node name="spawn_kitchen" pkg="gazebo" type="spawn_model" args="-urdf -param kitchen -model kitchen -x 6.11 -y 8 -z 0 -R 0 -P 0 -Y -1.5708" respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="kitchen2" textfile="$(find robocup_worlds)/objects/kitchen2.urdf" />
  <node name="spawn_kitchen2" pkg="gazebo" type="spawn_model" args="-urdf -param kitchen2 -model kitchen2 -x 4.8 -y 8 -z 0 -R 0 -P 0 -Y -1.5708" respawn="false" output="screen" />

<!-- putting urdf file -->		
  <param name="plant" textfile="$(find robocup_worlds)/objects/plant.urdf" />
  <node name="spawn_plant" pkg="gazebo" type="spawn_model" args="-urdf -param plant -model plant -x 4 -y 12.8 -z 0 " respawn="false" output="screen" />

  <!-- putting urdf file -->		
  <param name="kitchen_table" textfile="$(find robocup_worlds)/objects/kitchen_table.urdf" />
  <node name="spawn_kitchen_table" pkg="gazebo" type="spawn_model" args="-urdf -param kitchen_table -model kitchen_table -x 7.4 -y 9 -z 0 -R 0 -P 0 -Y 1.5708" respawn="false" output="screen" />

  <!-- putting urdf file -->		
  <param name="lamp" textfile="$(find robocup_worlds)/objects/lamp.urdf" />
  <node name="spawn_lamp" pkg="gazebo" type="spawn_model" args="-urdf -param lamp -model lamp -x 6.8 -y 1.3 -z 0.63 " respawn="false" output="screen" />

  <!-- putting urdf file -->		
  <param name="arm_chair" textfile="$(find robocup_worlds)/objects/arm_chair.urdf" />
  <node name="spawn_arm_chair" pkg="gazebo" type="spawn_model" args="-urdf -param arm_chair -model arm_chair -x 6 -y 11.2 -z 0 " respawn="false" output="screen" />

  <!-- putting urdf file -->		
  <param name="tv" textfile="$(find robocup_worlds)/objects/tv.urdf" />
  <node name="spawn_tv" pkg="gazebo" type="spawn_model" args="-urdf -param tv -model tv -x 6 -y 10 -z 0.63 " respawn="false" output="screen" />

  <!-- putting urdf file -->		
  <param name="dining_table" textfile="$(find robocup_worlds)/objects/dining_table.urdf" />
  <node name="spawn_dining_table" pkg="gazebo" type="spawn_model" args="-urdf -param dining_table -model dining_table -x 1.7 -y 10.5 -z 0 " respawn="false" output="screen" />

  <!-- start REEM_H2 robot -->
  <include file="$(find reem_gazebo)/launch/reem.launch"/>
  
  <!-- start the joystick control for Reem -->
  <!-- include file="$(find turtlebot_teleop)/joystick_teleop.launch"/ -->

</launch>


